---
layout: default
name: Blog
title: Blog
---

<div> <p style="font-size: 14px; text-align: right;"> Search Posts by  <a href="/categories">category</a> or by <a href="/tags">tag</a> </p></div>
<div class="card-grid">
{% assign first_post = site.posts.first %}
    <div class="cards first">
        <h1 class="label reversed"> Latest </h1>
        <div class="center-content">
            <div class="seven columns">
                <h2><a class="post-link" href="{{ first_post.url | prepend: site.baseurl }}">{{ first_post.title }}</a></h2>
                
                <p class="meta">{{ first_post.date | date: "%b %-d, %Y" }}</p>
                <p>{{ first_post.excerpt }} </p> 
            </div>
            <div class="four columns center-content">

                {% if first_post.download %}
                <a href="{{ first_post.file }}" class="button button-primary" download="{{ first_post.title }}">Download Now</a>
                {% endif %}

            </div>
        </div>            
        </div>
    {% for post in site.posts offset:1 limit:4 %}
        <div class="cards">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <p>{{ post.excerpt }} </p>
        </div>
    {% endfor %}
</div>  
<!-- Add a message indicating more posts -->
<div class="center-content">
    <p>Explore more posts in our <a href="/archive">archive</a> </p>
</div>

<div> <p style="font-size: 14px; text-align: right;"> Search Posts by  <a href="/categories">category</a> or by <a href="/tags">tag</a> </p></div>